#cloud-config
users:
  - name: <имя пользователя, которое будет использоваться для подключения по ssh к созданным VM с ПК администратора>
    groups: sudo
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - <публичный ключ, который будет использоваться для подключения по ssh к созданным VM с ПК администратора>

