#cloud-config
users:
  - name: <имя_пользователя_которое_будет_использоваться_для_подключения_по_ssh_к_созданным_VM_с_ПК_администратора>
    groups: sudo
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - <публичный_ключ_который_будет_использоваться_для_подключения_по_ssh_к_созданным_VM_с_ПК_администратора>
