terraform==1.9.6
ansible-core>=2.12.10
jinja==2.10.1
активный аккаунт в Yandex Cloud
актуальный токен OAuth для аутентификации в YC
сгенерированный для использования в cloud-init.yaml ssh ключ (ssh-keygen -t ed25519)
