my_oauth_token           = "qauth_токен_YC"
private_key              = "путь_до_приватного_ключа_который_будет_использоваться_в_cloud_config"
folder_name              = "имя_папки"
net_name                 = "имя_сети"
subnet_name_basic        = "имя_подсети_для_мастера_и_нод"
subnet_name_for_pods     = "имя_подсети_для_подов_k8s"
subnet_name_for_services = "имя_подсети_для_сервисов_k8s"
sec-group_name           = "имя_группы_безопасности"
master_name              = "имя_vm_c_ролью_control_plane"
node1_name               = "имя_vm1_c_ролью_worker"
node2_name               = "имя_vm2_c_ролью_worker"
vm_name                  = "имя_vm"
user_name                = "имя_пользователя_которое_будет_использоваться_в_cloud_config"
