my_oauth_token = "qauth-токен"
private_key    = "путь до приватного ключа, который будет использоваться в cloud-init"
folder_name    = "имя папки"
net_name       = "имя сети"
subnet_name    = "имя подсети"
sec-group_name = "имя группы безопасности"
master_name    = "имя vm c ролью control plane"
node1_name     = "имя vm1 c ролью worker"
node2_name     = "имя vm2 c ролью worker"
vm_name        = "имя vm"
user_name      = "имя пользователя, который будет использоваться в cloud-init"
