my_oauth_token = "qauth_токен"
private_key    = "путь_до_приватного_ключа_который_будет_использоваться_в_cloud-init"
folder_name    = "имя_папки"
net_name       = "имя_сети"
subnet_name    = "имя_подсети"
sec-group_name = "имя_группы_безопасности"
master_name    = "имя_vm_c_ролью_control_plane"
node1_name     = "имя_vm1_c_ролью_worker"
node2_name     = "имя_vm2_c_ролью_worker"
vm_name        = "имя_vm"
user_name      = "имя_пользователя_которое_будет_использоваться_в_cloud-init"
